/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #3B5998;
    height: 1000px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
ul {
    list-style: none;
}
a {
        color: #FFF;
        text-decoration: none;

}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   MC's custom styles
   ========================================================================== */
.fb-menu {
    height: 70px;
}   

.fb-wrap {
    
    height: 695px;
    width: 855px;
    background: #FFF;
    padding-top: 2px;
}

.content-wrap {
    margin: 20px 20px 15px 20px;
    height: 608px;
    width: 809px;
    margin-top: 20px;
    position: relative;
}

/* ------------NAVIGATION-------------------*/
nav {
    position: absolute;
    
    top: 0;
    left: 0;
    height: 610px;
    width:106px;
    display: block;
    float: left;


}

nav a {
    display: block;
    float: left;
    z-index: 22;
    height: 102px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    overflow:visible;
   }

/*nav a:hover {
    -moz-box-shadow: inset 0px 9px 40px 5px #767676;
    -webkit-box-shadow: inset 0px 9px 40px 5px #767676;
    box-shadow: inset 0px 9px 40px 5px #767676;
    overflow: hidden;
}   */

#none {
    display: none;
}
nav span {
    position: relative;
    top: 35px;
}

div #nv-t  {
width: 108px;
height: 99px;
color: #691500;
background:#FFF url('../img/side-logo.png') no-repeat 8px 8px;
}



#nv-l.flat {width: 108px; background: url('../img/live.png') no-repeat 0px 0px;}
#nv-g.flat {width: 108px; background: url('../img/golf.png') no-repeat 0px 0px}
#nv-d.flat {width: 108px; background: url('../img/dine.png') no-repeat 0px 0px}
#nv-e.flat {width: 108px; background: url('../img/events.png') no-repeat 0px 0px}
#nv-s.flat {width: 108px; background: url('../img/stay.png') no-repeat 0px 0px}

/*---------------ACTIVE LINKS------------------------*/

#nv-l.point {width: 130px; background: url('../img/live_active.png') no-repeat 0px 0px;}
#nv-g.point {width: 130px; background: url('../img/golf_active.png') no-repeat 0px 0px}
#nv-d.point {width: 130px; background: url('../img/dine_active.png') no-repeat 0px 0px}
#nv-e.point {width: 130px; background: url('../img/events_active.png') no-repeat 0px 0px}
#nv-s.point {width: 130px; background: url('../img/stay_active.png') no-repeat 0px 0px}



/*----------------Page Backgrounds--------------------*/
#live-pg {
    background-image: url('../img/live-bg.jpg');
    background-repeat: no-repeat;
    background-position: 107px 0px;
}
#golf-pg {
    background-image: url('../img/golf-bg.jpg');
    background-repeat: no-repeat;
    background-position: 107px 0px;
}
#dine-pg {
    background-image: url('../img/dine-bg.jpg');
    background-repeat: no-repeat;
    background-position: 107px 0px;
}
#events-pg {
    background-image: url('../img/events-bg.jpg');
    background-repeat: no-repeat;
    background-position: 107px 0px;
}
#stay-pg {
    background-image: url('../img/stay-bg.jpg');
    background-repeat: no-repeat;
    background-position: 107px 0px;
}

/*----------------SOCIAL ICONS-----------------------*/

#social {
    position: relative;
}

#social-links li {
    position: absolute;
    height: 16px;
    width: 60px;
}

#share {top: 10px; right: 138px; background: url('../img/share.png')no-repeat 0px 0px;}
#like {top: 10px; right: 69px;background: url('../img/fblike.png')no-repeat 0px 0px;}
#tweet {top: 10px; right: 10px;background: url('../img/tweet.png')no-repeat 0px 0px;}


/*----------------Tabbed Content---------------------*/

.tabbed-content {
    height: 309px;
    width: 474px;
    position: absolute;
    top: 150px;
    left: 201px;
}

.tabbed-content p {
    overflow: hidden;
}

.top-tab {
    border: solid 1px #FFF;
    height: 33px;
}

.top-tab li {
    display: inline-block;
    float: left; 
    /*padding-top: 10px;*/
    font-size:12px;
    width:32.73%;
    height: 32px;
    background: hsla(0,0,0,0.5);  /* 50% transparent */
    color: #FFF;
    border: solid 1px #FFF;
    text-align: center;
    
}


.white {
    background: #FFF;
    height: 100%;
    width: 100%;
}
.scroll {
    overflow: scroll;
}

.menus {
    font-size: 12px;
}

.flair {
    font-size: 2em;
    color: #892529;
}

.tab-banner {
    position: absolute;
    top: 39px;
    left:5px;
}

.p-tab {
    padding: 70px 15px 0px 15px;
    color: #000000;
    font-weight: bold;
    font-size: 11px;
}

.p-stay {
    padding: 90px 37px 0px 37px;
    color: #000000;
    font-weight: bold;
    font-size: 11px;
}

#tabs-1 h3 {
    padding-top: 60px;
    text-align: center;
}

.small-txt {
    font-size: 13px;
}

.active {
    color: yellow;
    background: black;
}

.vids {
    margin:-13px 0px 0px -17px;
}

#vid-spacing {
    margin-top: -15px;
    margin-left: -20px;
}

.stay-content {
    height: 322px;
    width: 474px;
    position: absolute;
    top: 150px;
    left: 201px;
    background: #fff;
}

.stay-content h3 {
    margin: 0;
    background: #E1E1E1;
    padding: 10px 0px 10px 0px;
}

.stay-tab {
    height: 35px;
    width: 100%;
    margin-top: -17px;
    background: #D0D0D0;
}

h4.stay-header {
    text-align: center;
    padding-top: 10px;
    font-size: .8em;
}

.stay-banner {
    position: absolute;
    top: 37px;
    left: 2px;
}

#inner-2 {
    margin-top: -1px;
    margin-left: -3px;
}

#inner-3 {
    margin-top: -15px;
    margin-left: -20px;
}

.chef-copy {
    float: right;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    margin-top: -7px;
}

.event-p {
    font-size: 13px;
    margin: 5px 0 0 10px;
}



/*----------------NESTED TAB MENU---------------------*/
.bottom-tab {
    margin:0;
    padding:0;
    width: 473px;
    position: absolute;
    text-align: center;

}
.xtwo {
    left: 4px;
    bottom: -8px;
    border-bottom: 1px solid #FFF;
}

.xtwo li {
    position: relative;
    display: inline-block;
    float: left;
    font-size:12px;
    width:49.5%;
    height: 29px;
    background: #312B2A;
    border: 1px solid #FFF;
}

.xthree {
    left: 4px;
    bottom: -7px;
}

.xthree li {
    position: relative;
    display: inline-block;
    float: left;
    font-size:11px;
    width:32.86%;
    height: 29px;
    background: #312B2A;
    border: 1px solid #FFF;
}

.xfour {
    left: 4px;
    bottom: -8px;
    border-bottom: 1px solid #FFF;
}

.xfour li {
    position: relative;
    display: inline-block;
    background: #312B2A;
    float: left;
    font-size:12px;
    width:24.5%;
    height: 29px;
    border: 1px solid #FFF;

}

.tab-active {background: #8e272c !important;}

.bottom-tab-four {



}
.bottom-tab-four li {

}
.bottom-tab-two {




}
.bottom-tab-two li {

}


a.btm {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 25px;
    width:100px;
    padding-top: 5px;
}

a.btm2 {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 25px;
    width:110px;
    padding-top: 5px;
}

/*----------------Outside Links-----------------------*/

.real-link {
    background: url('../img/pannel1.png')no-repeat 0px 0px;
    position: absolute;
    top: 50%;
    right: 0px;
    height: 59px;
    width: 91px;
    z-index: 9;
}


.real-link a {
    position: relative;
    display: block;
    padding: 7px 10px 10px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    margin-top: 6px;

}
 
.agent {
    position: absolute;
    bottom: 95px;
    left: 268px;
    font-size: 14px;    
    color: #FFF;
}
.learn {
    position: absolute;
    bottom: 16px;
    left: 363px;
    font-size: 11px;
    color: #FFF;
}

.bold {
    font-weight: bold;
} 

.alt.tdsmallsidepadding .tdvalue.tdcenter {
    text-align: center;
    font-size:13px;
    border-left: 1px solid #e9e9e9 !important;
    border-right: 1px solid #e9e9e9 !important;
}
.alt4.tdsmallsidepadding .tdvalue.tdcenter {
    text-align: center;
    font-size:13px;
}
.alt4.tdsmallsidepadding .tdvalue.tdcenter {
    text-align: center;
    font-size:13px;
}
.alt4.tdsmallsidepadding .tdvalue.tdcenter2 {
    text-align: center;
    font-size:13px;
}
.teetime-table-header {
    color: #FFF; font-size:13px; padding:6px;
}
.table-centered {text-align:center;}

/*---------------- LIVE NEIGHBORHOODS -----------------------*/

.the-map {
    margin: -14px 0 0 -17px;
}

.hood-content {
    margin-top: -15px;
    display: none;
}

#logo-cr {
    position: absolute;
    top: 47px;
    left: 103px;
    z-index: 9;
}


#crescent-title {
    font-size: 16px;
    text-align: center;
    margin: 0 0 0 47px;
    padding: 0 0 0 76px;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    bottom: -12px;
    border-width: 0 20px;
    background: #FFF;
    max-width: 60%;
}

#logo-gl {
    position: absolute;
    top: 47px;
    left: 125px;
    z-index: 9;
}

#glen-title {
    font-size: 16px;
    text-align: center;
    margin: 0 0 0 44px;
    padding: 0 0 0 80px;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    bottom: -12px;
    border-width: 0 20px;
    background: #FFF;
    max-width: 60%;
}

#logo-he {
    position: absolute;
    top: 47px;
    left: 103px;
    z-index: 9;
}

#heath-title {
    font-size: 16px;
    text-align: center;
    margin: 0 0 0 47px;
    padding: 0 0 0 76px;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    bottom: -12px;
    border-width: 0 20px;
    background: #FFF;
    max-width: 60%;
}

#triple-title {
    font-size: 16px;
    text-align: center;
    margin: 0 0 0 47px;
    padding: 0 0 0 76px;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    bottom: -12px;
    border-width: 0 20px;
    background: #FFF;
    max-width: 60%;
}

#logo-tr {
    position: absolute;
    top: 47px;
    left: 103px;
    z-index: 9;
}

.line {
    border-bottom: 1px solid #8E272C;
}

.hood-img {
    float: left;
    margin-top: 25px;
    width: 45%;
}

.desc-rt {
    float: right;
    font-size: 13px;
    font-weight: bold;
    width: 52%;
    margin-top: -83px;
}

.romance {
    width: 100%;
    font-size: 13px;
    padding-top: 7px;
}

.red {
    color: #8E272C;
}

/* Table Styles */

.popup-content table tbody tr th, .popup-content table tbody tr td  {
    font-family: 'Geometric415BT-MediumA';
    font-size: 0.9em;
    line-height: 14px;
}


.popup-content .alt.tdsmallsidepadding .tdvalue.tdcenter {
    text-align: center;
    font-size:13px;
}
.popup-content .alt4.tdsmallsidepadding .tdvalue.tdcenter {
    text-align: center;
    font-size:13px;
}
.popup-content .alt4.tdsmallsidepadding .tdvalue.tdcenter {
    text-align: center;
    font-size:13px;
}
.popup-content .alt4.tdsmallsidepadding .tdvalue.tdcenter2 {
    text-align: center;
    font-size:13px;
}
.popup-content .teetime-table-header {
    color: #FFF;
    font-size:13px;
    padding:5px 6px 2px 6px;
    border-right: 1px solid #511204;
    border-left: 1px solid #98402c;
}


.popup-content .table-border-right {
    border-right: 1px solid #e9e9e9;
}

.popup-content .table-borderleft-none {
    border-left:none;
}

.popup-content .table-centered {text-align:center;}

.popup-content td {
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    padding:6px;
    font-family: 'geometric_415_literegular','helvetica';
}

.popup-content .table-title {font-size: 13px;font-family: 'geometric_415_literegular','helvetica';}

.popup-content ul li{
    list-style-type: disc;
    color: #2f2826;
    font-size: 0.9em;
    line-height: 22px;
}

.popup-content ol li{
    list-style-type: disc;
    color: #2f2826;
    font-size: 0.9em;
    line-height: 22px;
}


/* ==========================================================================
  ORBITS IMAGE SLIDER
  ========================================================================== */

/*

/* CSS for jQuery Orbit Plugin 1.2.3
 * www.ZURB.com/playground
 * Copyright 2010, ZURB
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php



/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */

#property {
    width: 470px;
    height: 250px;
    background: #000 url('../img/loading.gif') no-repeat center center;
    overflow: hidden; }
#property>img,
#property>div,
#property>a { display: none; }

.content-prop { background: url('../img/golfacademy.jpg');  }

#community {
    width: 470px;
    height: 250px;
    background: #000 url('../img/loading.gif') no-repeat center center;
    overflow: hidden; }
#community>img,
#community>div,
#community>a { display: none; }

.content-comm { background: url('../img/bubbles.jpg'); }

#homes {
    width: 470px;
    height: 250px;
    background: #000 url('../img/loading.gif') no-repeat center center;
    overflow: hidden; }
#homes>img,
#homes>div,
#homes>a { display: none; }

.content-homes { background: url('../img/kitchen.jpg'); }

#wedding {
    width: 470px;
    height: 250px;
    background: #000 url('../img/loading.gif') no-repeat center center;
    overflow: hidden; }
#wedding>img,
#wedding>div,
#wedding>a { display: none; }

.content-wedd { background: url('../img/wedding-image-1.jpg');  }



/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    width: 1px;
    height: 1px;
    position: relative; }

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden }

div.orbit>img {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

div.orbit>a {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    display: none; }

.orbit>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 470px;
    height: 250px; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */


/* TIMER
   ================================================== */

div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001; }

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url('../img/rotator-black.png') no-repeat;
    z-index: 3; }

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

span.rotator.move {
    left: 0 }

span.mask.move {
    width: 40px;
    left: 0;
    background: url('../img/timer-black.png') repeat 0 0; }

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/pause-black.png') no-repeat;
    z-index: 4;
    opacity: 0; }

span.pause.active {
    background: url('../img/pause-black.png') no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; }


/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
    display: block }

div.slider-nav span {
    width: 35px;
    height: 45px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: 60%;
    margin-top: -50px;
    cursor: pointer; }

div.slider-nav span.right {
    background: url('../img/right-arrow1.png');
    right: 0; }

div.slider-nav span.left {
    background: url('../img/left-arrow1.png');
    left: 0; }







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
