/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #3B5998;
    height: 1000px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
ul {
    list-style: none;
}
a {
        color: #FFF;
        text-decoration: none;

}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   MC's custom styles
   ========================================================================== */
.fb-menu {
    height: 70px;
}   

.fb-wrap {
    
    height: 695px;
    width: 855px;
    background: #FFF;
    padding-top: 2px;
}

.content-wrap {
    margin: 20px 20px 15px 20px;
    background: #b4343c;
    height: 609px;
    width: 814px;
    margin-top: 20px;
    position: relative;
}

/* ------------NAVIGATION-------------------*/
nav {
    position: absolute;
    
    top: 0;
    left: 0;
    height: 610px;
    width:108px;
    display: block;
    float: left;
    color: #FFF;
    border-right: 3px solid #FFF;

}

nav a {
    display: block;
    float: left;
    z-index: 22;
    height: 99.8px;
    width: 108px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    overflow:visible;
    border-top: 2px solid #FFF;
   }

nav a:hover {
    -moz-box-shadow: inset 0px 9px 40px 5px #767676;
    -webkit-box-shadow: inset 0px 9px 40px 5px #767676;
    box-shadow: inset 0px 9px 40px 5px #767676;
    overflow: hidden;
}   

#none {
    display: none;
}
nav span {
    position: relative;
    top: 35px;
}

nav a:first-child{
    color: #691500;
    background:#FFF url('../img/side-logo.png') no-repeat 8px 8px;
}
#nv-l {
    background: url('../img/side-nav-live-active.png') no-repeat 0px 0px;
    width:132px;
    border: none;

}
#nv-g {background: url('../img/side-nav-golf.jpg') no-repeat 0px 0px}
#nv-d {background: url('../img/side-nav-dine.jpg') no-repeat 0px 0px}
#nv-e {background: url('../img/side-nav-events.jpg') no-repeat 0px 0px}
#nv-s {background: url('../img/side-nav-stay.jpg') no-repeat 0px 0px}


.point {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
}

/*----------------Page Backgrounds--------------------*/
#live-pg {
    background-image: url('../img/live-bg.jpg');
    background-repeat: no-repeat;
    background-position: 111px 1px;
}
#golf-pg {
    background-image: url('../img/golf-bg.jpg');
    background-repeat: no-repeat;
    background-position: 111px 1px;
}
#dine-pg {
    background-image: url('../img/dine-bg.jpg');
    background-repeat: no-repeat;
    background-position: 111px 1px;
}
#events-pg {
    background-image: url('../img/events-bg.jpg');
    background-repeat: no-repeat;
    background-position: 111px 1px;
}
#stay-pg {
    background-image: url('../img/stay-bg.jpg');
    background-repeat: no-repeat;
    background-position: 111px 1px;
}

/*----------------SOCIAL ICONS-----------------------*/



.social ul li {
    display: inline-block;
    float: right;
    background: #00FF00;
    width: 60px;
    height: 25px;
    margin-top: 4px;
}

#share {background: url('../img/share.png')no-repeat;}
#like {background: url('../img/fblike.png')no-repeat;}
#tweet {background: url('../img/tweet.png')no-repeat;}


/*----------------Tabbed Content---------------------*/

.tabbed-content {
    height: 309px;
    width: 474px;
    position: absolute;
    top: 150px;
    left: 201px;
}

.tabbed-content p {
    overflow: hidden;
}

.top-tab {
    margin:0;
    padding:0;
}

.top-tab li {
    display: inline-block;
    float: left; 
    padding-top: 10px;
    font-size:12px;
    width:154px;
    height: 30px;
    background: hsla(0,0,0,0.5);  /* 50% transparent */
    color: #FFF;
    border: solid 2px #FFF;
    text-align: center;
    
}
.white {
    background: #FFF;
    height: 100%;
    width: 100%;
}
.scroll {
    overflow: scroll;
}

.flair {
    font-size: 2em;
    color: #892529;
}

.tab-banner {
    position: absolute;
    top: 42px;
    left:5px;
}

.p-tab {
    padding: 70px 15px 0px 15px;
    color: #000000;
    font-weight: bold;
    font-size: 11px;
}

#livetab-one {

}
.active {
    color: yellow;
    background: black;
}

.vids {
    margin:-13px 0px 0px -17px;
}

.stay-content {
    height: 309px;
    width: 474px;
    position: absolute;
    top: 150px;
    left: 201px;
    background: #fff;
}

.stay-content h3 {
    margin: 0;
    background: #E1E1E1;
    padding: 10px 0px 10px 0px;
}

/*----------------NESTED TAB MENU---------------------*/
.bottom-tab {
    margin:0;
    padding:0;
    width: 473px;
    position: absolute;
    text-align: center;

}
.xtwo {

    left: 4px;
    bottom: -9px;
}

.xtwo li {
    position: relative;
    display: inline-block;
    float: left;
    font-size:12px;
    width:228px;
    height: 30px;
    background: #312B2A;
    border: 2px solid #FFF;
}

.xthree {
    left: 4px;
    bottom: -9px;
}

.xthree li {
    position: relative;
    display: inline-block;
    float: left;
    font-size:11px;
    width:153px;
    height: 30px;
    background: #312B2A;
    border: 2px solid #FFF;
}

.xfour {
    left: 4px;
    bottom: -9px;
}

.xfour li {
    position: relative;
    display: inline-block;
    float: left;
    font-size:12px;
    width:114px;
    height: 30px;
    background: #312B2A;
    border: 2px solid #FFF;

}

.bottom-tab-four {



}
.bottom-tab-four li {

}
.bottom-tab-two {




}
.bottom-tab-two li {

}


a.btm {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 25px;
    width:100px;
    padding-top: 5px;
}

/*----------------Outside Links-----------------------*/

.real-link {
    position: absolute;
    top: 300px;
    right: 0px;
    height: 63px;
    width:93px;
    background-color: #73202E;
}

.real-link a {
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-top: 7px;
    border-bottom: 1px solid #FFF;
}
 
.agent {
    position: absolute;
    bottom: 95px;
    left: 268px;
    font-size: 14px;    
    color: #FFF;
}
.learn {
    position: absolute;
    bottom: 16px;
    left: 363px;
    font-size: 11px;
    color: #FFF;
}

.bold {
    font-weight: bold;
} 

.alt.tdsmallsidepadding .tdvalue.tdcenter {
    text-align: center;
    font-size:13px;
    border-left: 1px solid #e9e9e9 !important;
    border-right: 1px solid #e9e9e9 !important;
}
.alt4.tdsmallsidepadding .tdvalue.tdcenter {
    text-align: center;
    font-size:13px;
}
.alt4.tdsmallsidepadding .tdvalue.tdcenter {
    text-align: center;
    font-size:13px;
}
.alt4.tdsmallsidepadding .tdvalue.tdcenter2 {
    text-align: center;
    font-size:13px;
}
.teetime-table-header {
    color: #FFF; font-size:13px; padding:6px;
}
.table-centered {text-align:center;}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
